{
  "plugins": [
    "dynamic-import-node",
    "syntax-dynamic-import",
    "syntax-jsx",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-regenerator",
    "transform-async-to-generator",
    "transform-decorators-legacy",
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ],
  "presets": ["latest", "react", "env", "es2015", "es2017"]
}
